<tr>
    <td class="qnumber" data-bind="text: $data.QuestionNumber"></td>
    <td data-bind="text: $data.QuestionText"></td>
</tr>
<tr>
    <td></td>
    <td class="answercol">
        <div class="container">
            <input type="text" data-bind="attr: { name: $parent.QuestionID, id: $data.Value + $parent.QuestionID } " />
            <label data-bind="attr: { for: $data.Value + $parent.QuestionID }"><span></span></label>
        </div>
    </td>
    
</tr>