<?xml version="1.0" encoding="utf-8" ?>

<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/utils.log"
            layout="${date:u} ${level}: ${stacktrace} ${message} ${exception} ${asp-request}"
            archiveFileName="${basedir}/logs/archives/{######}.log"
            archiveAboveSize="5000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="10" />
  </targets>
  <rules>
    <!-- minlevel options from most verbose to least: Debug, Info, Warn, Error, Fatal -->
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>