@model WebApplication1.Models.SelectGroupProgramModel
@using GroupQuestionnaireApp.EFModel

@{
    ViewBag.Title = GroupPackageApp.Resources.Group.Views.Resource.PageTitleSelectGroupProgram;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@GroupPackageApp.Resources.Group.Views.Resource.PageTitleSelectGroupProgram</h2>
                <p>@GroupPackageApp.Resources.Group.Views.Resource.PageDescriptionSelectGroupProgram</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
